applications/gui/trunk/xmllib/src/edu/nrao/difx/xmllib/DiFXMessageXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="difxMessage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="header"/>
                <xsd:element ref="body"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="header" type="header"></xsd:element>
    <xsd:element name="body" type="body"></xsd:element>
    <xsd:element name="mark5Status" type="mark5Status"></xsd:element>
    <xsd:element name="difxLoad" type="difxLoad"></xsd:element>
    <xsd:element name="difxAlert" type="difxAlert"></xsd:element>
    <xsd:element name="difxStatus" type="difxStatus"></xsd:element>
    <xsd:element name="difxInfo" type="difxInfo"></xsd:element>
    <xsd:element name="difxWeight" type="difxWeight"></xsd:element>
    <xsd:element name="difxStart" type="difxStart"></xsd:element>
    <xsd:element name="difxStartUSNO" type="difxStartUSNO"></xsd:element>
    <xsd:element name="difxStop" type="difxStop"></xsd:element>
    <xsd:element name="difxInputFileRequest" type="difxInputFileRequest"></xsd:element>
    <xsd:element name="difxCommand" type="difxCommand"></xsd:element>
    <xsd:element name="doiResourceConfig" type="doiResourceConfig"></xsd:element>
    <xsd:element name="doiProject" type="doiProject"></xsd:element>
    <xsd:element name="doiJob" type="doiJob"></xsd:element>
    <xsd:element name="doiJobQueue" type="doiJobQueue"></xsd:element>
    <xsd:element name="doiJobProject" type="doiJobProject"></xsd:element>
    <xsd:element name="doiAntenna" type="doiAntenna"></xsd:element>
    <xsd:element name="doiModule" type="doiModule"></xsd:element>
    <xsd:element name="doiMark5" type="doiMark5"></xsd:element>
    <xsd:element name="doiJobCommand" type="doiJobCommand"></xsd:element>
    <xsd:element name="doiQueueCommand" type="doiQueueCommand"></xsd:element>
    <xsd:element name="doiDBCommand" type="doiDBCommand"></xsd:element>
    <xsd:element name="doiError" type="doiError"></xsd:element>
    
    <xsd:complexType name="header">
        <xsd:sequence>
            <xsd:element name="from" type="xsd:string"></xsd:element>
            <xsd:element name="to" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="mpiProcessId" type="xsd:string"></xsd:element>
            <xsd:element name="identifier" type="xsd:string"></xsd:element>
            <xsd:element name="type" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="body">
        <xsd:sequence>
            <xsd:element name="seqNumber" type="xsd:string"></xsd:element>
            <xsd:choice>
                <xsd:element ref="mark5Status"/>
                <xsd:element ref="difxLoad"/>
                <xsd:element ref="difxAlert"/>
                <xsd:element ref="difxStatus"/>
                <xsd:element ref="difxInfo"/>
                <xsd:element ref="difxWeight"/>
                <xsd:element ref="difxStart"/>
                <xsd:element ref="difxStartUSNO"/>
                <xsd:element ref="difxStop"/>
                <xsd:element ref="difxInputFileRequest"/>
                <xsd:element ref="difxCommand"/>
                <xsd:element ref="doiSystemConfig"/>
                <xsd:element ref="doiResourceConfig"/>
                <xsd:element ref="doiProject"/>
                <xsd:element ref="doiJob"/>
                <xsd:element ref="doiJobProject"/>
                <xsd:element ref="doiJobQueue"/>
                <xsd:element ref="doiAntenna"/>
                <xsd:element ref="doiModule"/>
                <xsd:element ref="doiMark5"/>
                <xsd:element ref="doiJobCommand"/>
                <xsd:element ref="doiQueueCommand"/>
                <xsd:element ref="doiDBCommand"/>
                <xsd:element ref="doiError"/>
             </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>       

    <xsd:element name="doiSystemConfig">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="difxHome"/>
                <xsd:element ref="resourcesFile"/>
                <xsd:element ref="dbHost"/>
                <xsd:element ref="dbSID"/>
                <xsd:element ref="dbPassword"/>
                <xsd:element ref="dbJdbcDriver"/>
                <xsd:element ref="dbJdbcPort"/>
                <xsd:element ref="dbUrlComposer"/>
                <xsd:element ref="dbUrl"/>
                <xsd:element ref="ipAddress"/>
                <xsd:element ref="port"/>
                <xsd:element ref="bufferSize"/>
                <xsd:element ref="loggingEnabled"/>
                <xsd:element ref="statusValidDuration"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="difxHome" type="xsd:string"></xsd:element>
    <xsd:element name="resourcesFile" type="xsd:string"></xsd:element>
    <xsd:element name="dbHost" type="xsd:string"></xsd:element>
    <xsd:element name="dbSID" type="xsd:string"></xsd:element>
    <xsd:element name="dbPassword" type="xsd:string"></xsd:element>
    <xsd:element name="dbJdbcDriver" type="xsd:string"></xsd:element>
    <xsd:element name="dbJdbcPort" type="xsd:string"></xsd:element>
    <xsd:element name="dbUrlComposer" type="xsd:string"></xsd:element>
    <xsd:element name="dbUrl" type="xsd:string"></xsd:element>
    <xsd:element name="ipAddress" type="xsd:string"></xsd:element>
    <xsd:element name="port" type="xsd:int"></xsd:element>
    <xsd:element name="bufferSize" type="xsd:int"></xsd:element>
    <xsd:element name="loggingEnabled" type="xsd:boolean"></xsd:element>
    <xsd:element name="statusValidDuration" type="xsd:unsignedInt"></xsd:element>

    <xsd:complexType name="mark5Status">
        <xsd:sequence>
            <xsd:element name="bankAVSN" type="xsd:string"></xsd:element>
            <xsd:element name="bankBVSN" type="xsd:string"></xsd:element>
            <xsd:element name="statusWord" type="xsd:string"></xsd:element>
            <xsd:element name="activeBank" type="xsd:string"></xsd:element>
            <xsd:element name="state" type="xsd:string"></xsd:element>
            <xsd:element name="scanNumber" type="xsd:int"></xsd:element>
            <xsd:element name="scanName" type="xsd:string"></xsd:element>
            <xsd:element name="position" type="xsd:long"></xsd:element>
            <xsd:element name="playRate" type="xsd:float"></xsd:element>
            <xsd:element name="dataMJD" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxLoad">
        <xsd:sequence>
            <xsd:element name="cpuLoad" type="xsd:float"></xsd:element>
            <xsd:element name="totalMemory" type="xsd:long"></xsd:element>
            <xsd:element name="usedMemory" type="xsd:long"></xsd:element>
            <xsd:element name="netRXRate" type="xsd:int"></xsd:element>
            <xsd:element name="netTXRate" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxAlert">
        <xsd:sequence>
            <xsd:element name="alertMessage" type="xsd:string"></xsd:element>
            <xsd:element name="severity" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxStatus">
        <xsd:sequence>
            <xsd:element name="state" type="xsd:string"></xsd:element>
            <xsd:element name="message" type="xsd:string"></xsd:element>
            <xsd:element name="visibilityMJD" type="xsd:string"></xsd:element>
            <xsd:element name="weight" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                    <xsd:attribute name="ant" type="xsd:string"/>
                    <xsd:attribute name="wt" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxInfo">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxWeight">
        <xsd:sequence>
            <xsd:element name="antenna" type="xsd:string"></xsd:element>
            <xsd:element name="weight" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxStart">
        <xsd:sequence>
            <xsd:element name="input" type="xsd:string"></xsd:element>
            <xsd:element name="manager">
                <xsd:complexType>
                    <xsd:attribute name="node" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="datastream">
                <xsd:complexType>
                    <xsd:attribute name="nodes" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="process" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="nodes" type="xsd:string"/>
                    <xsd:attribute name="threads" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="force" type="xsd:int" minOccurs="0" default="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxStartUSNO">
        <xsd:sequence>
            <xsd:element name="input" type="xsd:string"></xsd:element>
            <xsd:element name="manager">
                <xsd:complexType>
                    <xsd:attribute name="node" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="datastream">
                <xsd:complexType>
                    <xsd:attribute name="nodes" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="process" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="nodes" type="xsd:string"/>
                    <xsd:attribute name="threads" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="force" type="xsd:int" minOccurs="0" default="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxStop">
        <xsd:sequence>
            <xsd:element name="input" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxInputFileRequest">
        <xsd:sequence>
            <xsd:element name="input" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="difxCommand">
        <xsd:sequence>
            <xsd:element name="command" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doiResourceConfig">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="numCPUs" type="xsd:unsignedByte"></xsd:element>
            <xsd:element name="numCores" type="xsd:unsignedByte"></xsd:element>
            <xsd:element name="bogusGHz" type="xsd:float"></xsd:element>            
            <xsd:element name="type" type="xsd:unsignedByte"></xsd:element>
            <xsd:element name="enabled" type="xsd:boolean" nillable="true"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doiProject">
        <xsd:sequence>
            <xsd:element name="projectName" type="xsd:string"></xsd:element>
            <xsd:element name="projectPath" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doiJob">
        <xsd:sequence>
            <xsd:element name="jobName" type="xsd:string"></xsd:element>
            <xsd:element name="jobPath" type="xsd:string"></xsd:element>
            <xsd:element name="projectName" type="xsd:string"></xsd:element>
            <xsd:element name="projectPath" type="xsd:string"></xsd:element>
            <xsd:element name="segment" type="xsd:string"></xsd:element>
            <xsd:element name="jobPass" type="xsd:string"></xsd:element>
            <xsd:element name="jobNumber" type="xsd:int"></xsd:element>
            <xsd:element name="priority" type="xsd:int"></xsd:element>
            <xsd:element name="actualSpeedUp" type="xsd:float"></xsd:element>
            <xsd:element name="predictedSpeedUp" type="xsd:float"></xsd:element>
            <xsd:element name="inputFile" type="xsd:string"></xsd:element>
            <xsd:element name="calcFile" type="xsd:string"></xsd:element>
            <xsd:element name="delayFile" type="xsd:string"></xsd:element>
            <xsd:element name="uvwFile" type="xsd:string"></xsd:element>
            <xsd:element name="coreConfigFile" type="xsd:string"></xsd:element>
            <xsd:element name="executeTimeSeconds" type="xsd:int"></xsd:element>
            <xsd:element name="startMJD" type="xsd:int"></xsd:element>
            <xsd:element name="startSeconds" type="xsd:int"></xsd:element>
            <xsd:element name="activeDatastreams" type="xsd:byte"></xsd:element>
            <xsd:element name="activeBaselines" type="xsd:byte"></xsd:element>
            <xsd:element name="numChannels" type="xsd:int"></xsd:element>
            <xsd:element name="numAntennas" type="xsd:byte"></xsd:element>
            <xsd:element name="jobID" type="xsd:string"></xsd:element>
            <xsd:element name="obsCode" type="xsd:string"></xsd:element>
            <xsd:element name="jobStartTimeMJD" type="xsd:double"></xsd:element>
            <xsd:element name="jobStopTimeMJD" type="xsd:double"></xsd:element>
            <xsd:element name="numTelescopes" type="xsd:byte"></xsd:element>
            <xsd:element name="status" type="xsd:string"></xsd:element>
            <xsd:element name="completion" type="xsd:string"></xsd:element>
            <xsd:element name="dbJob" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="doiJobQueue">
        <xsd:sequence>
            <xsd:element name="jobName" type="xsd:string"></xsd:element>
            <xsd:element name="projectName" type="xsd:string"></xsd:element>
            <xsd:element name="option" type="xsd:string"></xsd:element>
       </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="doiJobProject">
        <xsd:sequence>
            <xsd:element name="jobName" type="xsd:string"></xsd:element>
            <xsd:element name="projectName" type="xsd:string"></xsd:element>
            <xsd:element name="option" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doiAntenna">
        <xsd:sequence>
            <xsd:element name="jobName" type="xsd:string"></xsd:element>
            <xsd:element name="antennaName" type="xsd:string"></xsd:element>
            <xsd:element name="moduleVSN" type="xsd:string"></xsd:element>
            <xsd:element name="shelf" type="xsd:string"></xsd:element>            
            <xsd:element name="id" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="doiModule">
        <xsd:sequence>
            <xsd:element name="jobName" type="xsd:string"></xsd:element>
            <xsd:element name="antennaName" type="xsd:string"></xsd:element>
            <xsd:element name="moduleVSN" type="xsd:string"></xsd:element>
            <xsd:element name="shelf" type="xsd:string"></xsd:element>
            <xsd:element name="id" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doiMark5">
        <xsd:sequence>
            <xsd:element name="jobName" type="xsd:string"></xsd:element>
            <xsd:element name="unitName" type="xsd:string"></xsd:element>
            <xsd:element name="moduleVSN" type="xsd:string"></xsd:element>
            <xsd:element name="id" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doiJobCommand">
        <xsd:sequence>
            <xsd:element name="jobName" type="xsd:string"></xsd:element>
            <xsd:element name="project" type="xsd:string"></xsd:element>
            <xsd:element name="fullPath" type="xsd:string"></xsd:element>
            <xsd:element name="command" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="doiQueueCommand">
        <xsd:sequence>
            <xsd:element name="queueName" type="xsd:string"></xsd:element>
            <xsd:element name="command" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doiDBCommand">
        <xsd:sequence>
            <xsd:element name="command" type="xsd:string"></xsd:element>
            <xsd:element name="statement" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="doiError">
        <xsd:sequence>
            <xsd:element name="errorMessage" type="xsd:string"></xsd:element>
            <xsd:element name="severity" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

 </xsd:schema>